/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 75px;
}

body {
	padding-top: 80px;
}

.container {

}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #00638b;
	color: #FFF;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0;
}

.navbar-brand {
	float: left;
	min-height: 55px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #FFF;
	background-color: #00638b;
}

.navbar-inverse .navbar-nav li a {
	color: #b2b2b2;
	background-color: #00638b;
}

.dropdown-menu {
	width: 300px !important;
	background-color: #00638b;
   padding: 10px 15px 10px 15px;
	border-style: outset;
	border-color: white;
	color: #FFF;
}

.dropdown-menu  a {
	color: #b2b2b2;
}

.myloginbtn {
	font-size: 12px;
	color: #FFF;
	background: #00638b;

}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
}

.btn {
	font-size: 18px;
	color: #FFF;
	padding: 12px 22px;
	background: #00638b;
	border: 2px solid #FFF;
}

#icon {
	max-width: 200px;
	margin: 1% auto;
}

footer {
	width: 100%;
	background-color: #00638b;
	padding: 3%;
	color: #FFF;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFF;
	}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}

@media (max-width: 900px) {
	.fa {
	    font-size: 20px;
	    padding: 10px;
}

@media (max-width: 600px) {
	.dropdown-lr h3 {
	    color: #eee;
	}
	.dropdown-lr label {
	    color: #eee;
	}

	.carousel-caption {
	    display: none;
	}

	#icon {
	    max-width: 150px;
	}

	h2 {
	    font-size: 1.7em;
	}
}
