{% load staticfiles %}
{% block login-content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container text-center">
        <h2>Logged Out Succesfully</h2>
        <div class="row">
            <div class="col-sm-4">
                <br><br><br><br>
                <h4>Logged Out </h4>
                <br><br><br><br>
            </div>
            <div class="col-sm-4">
                <br><br><br><br>
                <h4>Logged Out </h4>
                <br><br><br><br>
                </div>
            <div class="col-sm-4">
                <br><br><br><br>
                <h4>Logged Out </h4>
                <br><br><br><br>
            </div>

        </div>
    </div>
{% endblock %}
