{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container text-center">
  <div class="col-sm-6">
    <div class="text-center">
      <h3><b>Register Here</b></h3>
    </div>
    <form id="ajax-register-form" method="post" action="{% url 'register' %}" role="form" autocomplete="off">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.errors }}
        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="{{ form.username.label }}" value="">
      </div>
      <div class="form-group">
        {{ form.first_name.errors }}
        <input type="text" name="first_name" id="first_name" tabindex="1" class="form-control" placeholder="{{ form.first_name.label }}" value="">
      </div>
      <div class="form-group">
        {{ form.last_name.errors }}
        <input type="text" name="last_name" id="last" tabindex="1" class="form-control" placeholder="{{ form.last_name.label }}" value="">
      </div>
      <div class="form-group">
        {{ form.email.errors }}
        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="{{ form.email.label }}" value="">
      </div>
      <div class="form-group">
        <input type="password" name="password1" id="password1" tabindex="2" class="form-control" placeholder="{{ form.password1.label }}">
      </div>
      <div class="form-group">
        {{ form.password2.errors }}
        <input type="password" name="password2" id="password2" tabindex="2" class="form-control" placeholder="{{ form.password2.label }}">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control myloginbtn btn-default" value="Register Now">
          </div>
        </div>
      </div>
      <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
    </form>
  </div>
</div>
{% endblock %}
